@import url("reset.css");

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

/* -----Global----- */

body {
  background: #d8d8d6;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #161616;
}

.img {
  width: 50%;
  height: auto;
}

.hidden {
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.bg-green {
  background: #81a36b;
}

.btn {
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
  border: 1px solid #81a36b;
  color: #161616;
  padding: 20px 15px;
}

.subtitle {
  font-size: 32px;
  font-weight: 500;
}

/* -----Header----- */

.header {
  padding: 25px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-list > li a {
  color: #161616;
  text-decoration: none;
}

.burger {
  width: 50px;
  height: 35px;
  border: 2px solid #161616;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  display: none;
}

.burger::before,
.burger::after,
.burger span {
  content: "";
  position: absolute;
  top: 5px;
  left: 10px;
  right: 10px;
  height: 3px;
  background: #161616;
}

.burger span {
  top: 50%;
  transform: translateY(-50%);
}

.burger::after {
  top: auto;
  bottom: 5px;
}

/* -----Order----- */

.order-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.order-inner {
  flex: 1 1 30%;
}

.order-inner h1 {
  font-weight: 500;
  font-size: 62px;
  margin-bottom: 60px;
}

.order-inner p {
  margin-bottom: 40px;
}

.order-btns {
  display: flex;
  gap: 60px;
}

/* -----About----- */

.about {
  padding: 120px 0;
}

.about-container {
  max-width: 540px;
  text-align: center;
}

.about-container h2 {
  margin-bottom: 60px;
}

/* -----Advantages----- */

.advantages {
  padding: 80px 0;
  font-weight: 500;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
}

.advantages-list li {
  padding-top: 100px;
  background-image: url("../images/card-1.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.advantages-list li:nth-child(2) {
  background-image: url("../images/card-2.png");
}

.advantages-list li:nth-child(3) {
  background-image: url("../images/card-3.png");
}

.advantages-list li:nth-child(4) {
  background-image: url("../images/card-4.png");
}

.advantages-list li:nth-child(5) {
  background-image: url("../images/card-5.png");
}

/* -----How we work----- */

.how-we-work {
  padding: 120px 0;
}

.how-we-work-container {
  display: flex;
  gap: 30px;
  align-items: center;
}

.how-we-work-inner h2 {
  margin-bottom: 60px;
  text-align: center;
}

/* -----Works----- */

.works {
  padding-bottom: 120px;
}

.works h2 {
  margin-bottom: 80px;
  text-align: center;
}

.works-list {
  display: flex;
  gap: 30px;
}

.works-list li {
  padding: 15px 15px 40px;
  flex: 1 1 30%;
  text-align: center;
}

.works-list li > a {
  display: block;
  line-height: 10px;
  margin-bottom: 25px;
}

.works-list li img {
  width: 100%;
  object-fit: cover;
}

.works-list h3 a {
  color: #161616;
  text-decoration: none;
  line-height: 1;
}

/* -----Footer----- */

.footer {
  padding: 60px 0;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
}

.footer-item h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px;
}

.footer-item-contacts li {
  margin-bottom: 20px;
}

.footer-item-contacts li:last-child {
  margin-bottom: 0;
}

.footer-item-contacts li a {
  text-decoration: none;
  color: #161616;
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.icon-list a {
  display: block;
}

.icon {
  width: 24px;
  height: 24px;
}

.footer-bottom {
  text-align: center;
}

.footer-logo-mob {
  text-align: center;
  display: none;
}

@media screen and (max-width: 1100px) {
  body {
    font-size: 16px;
  }
  .order-inner h1 {
    font-size: 52px;
  }
  .subtitle {
    font-size: 28px;
  }
  .advantages {
    padding: 40px 0;
  }
  .advantages-list li {
    padding-top: 50px;
    background-size: 40px;
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  body {
    font-size: 14px;
  }
  .header-list {
    display: none;
  }
  .burger {
    display: block;
  }
  .order-inner h1 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  .order-inner p {
    margin-bottom: 20px;
  }
  .order-container {
    display: block;
    text-align: center;
    padding-top: 30px;
  }
  .order-btns {
    justify-content: center;
    gap: 30px;
  }
  .btn {
    padding: 10px 5px;
    font-size: 12px;
  }
  .order-img {
    display: none;
  }
  .subtitle {
    font-size: 22px;
  }
  .about {
    padding: 30px 0;
  }
  .about-container h2 {
    margin-bottom: 30px;
  }
  .advantages-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  .advantages {
    padding: 20px 0;
  }
  .advantages-list li {
    padding-top: 30px;
    background-size: 25px;
    font-size: 12px;
  }
  .how-we-work {
    padding: 30px 0;
  }
  .how-we-work-container {
    display: block;
    text-align: center;
  }
  .how-we-work-inner h2 {
    margin-bottom: 30px;
  }
  .works {
    padding-bottom: 30px;
  }
  .works h2 {
    margin-bottom: 20px;
  }
  .works-list {
    display: block;
  }
  .works-list li {
    width: 250px;
    margin: 15px auto;
  }
  .footer {
    padding: 30px 0;
  }
  .footer-item h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .footer-item-contacts li {
    margin-bottom: 10px;
  }
  .footer-logo {
    display: none;
  }
  .footer-logo-mob {
    display: block;
  }
  .icon {
    width: 18px;
    height: 18px;
  }
}
